<div>
  <iframe class="w-full h-64"
    src="https://www.google.com/maps/embed/v1/view?key=AIzaSyDFFgArel0ea8I_eJcz47l83D3C2_WoFnI&center={{@coord.lat}},{{@coord.lon}}&zoom=13"
    allowfullscreen=""></iframe>
</div>